.layout {
  padding: 1rem;
  text-align: center;
  animation: myAnimation 3s ease infinite;
}

.fa-cloud-sun {
  margin-top: 3rem;
  font-size: 4rem;
  /* color: #fff; */
}


@keyframes myAnimation {
  0% {
    color: rgb(255, 255, 255);
  }
  45% {
    color: rgba(255, 255, 255, 0.4);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}