
.app {
  color: #fff;
}

.image,
.description,
.temp,
.location,
.date {
  text-align: center;
}

.search {
  text-align: center;
  padding-top: 1.5rem;
  height: 10vh;
}

input {
  width: 200px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.6rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  background-color: transparent;
  outline-style: none;
  color: #feec65;
}

input::placeholder {
  color: rgba(190, 190, 190, 0.5);
}

input:focus {
  border: 2px solid #feec65
}


.top {
  height: 90vh;
}
.bottom {
  height: 100vh;
  background: rgb(16, 14, 28);
}
small {
  font-size: 1.8rem;
}

.description p {
  font-size: 1.5rem;
  font-weight: 600;
}
.temp p {
  font-size: 4rem;
  font-weight: 600;
}

.location p {
  font-size: 1.5rem;
  font-weight: 600;
}

.date p {
  font-size: 1rem;
  font-weight: 600;
}

.feels,
.humidity,
.wind,
.pressure {
  margin: auto;
  text-align: center;
  padding: .5rem;
  background-color: rgb(29, 33, 58);
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.today {
  margin: auto;
  text-align: center;
  padding: 0.8rem;
  width: 80%;
  font-size: 1.1rem;
  font-weight:600;
}

.subtitle {
  font-size: .9rem;
  font-weight: 500;
}

.feels,
.humidity,
.wind,
.pressure {
  font-size: 1.35rem;
  font-weight: 700;
}

/* ? FLECHA ANIMADA */
.contenedor-icono {
  position: absolute;
  z-index: 2;
  bottom: .1%;
  left: calc(50% - 20px);
  font-size: 40px;
  animation: bajar-subir 2s ease infinite;
}

.contenedor-icono i {
  color: rgba(255, 255, 255, 0.5);
}

@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 80%;
  height: 10px;
}

progress::-webkit-progress-value {
  background-color: #feec65;
  border-radius: 5px;
}
