@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(29, 33, 58);
  font-family: 'Montserrat Alternates', sans-serif;
}
